/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

/* Body Styles */
body {
    font-family: Cambria, serif;
    font-size: 1.25rem;
}

table {
    width: 85%;
    max-width: 85%;
    margin: 0.5% auto;
    display: table;         
}


/* Container Wrapper Styles */
.container-wrapper {
    border-radius: 1vh;
    background-color: #E8E8E8;
    padding: 1%;
    margin: 1%;
}

#about-me-section img {
    width: 20vw;
    height: 35vh;
}

#key-skills-section td {
    border: 1px solid #000000;
    border-radius: 1vh;
    text-align: center;
    vertical-align: middle;
    width: 25%;
    height: 100%;
    padding: 0.5%;
}
#work-experience-section table {
    border: 1px solid #000000;
    border-radius: 1vh;
}

#work-experience-section td {    
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-weight: bold;
}

#work-experience-section img {
    width: 5em;
    height: 5em;
}
